{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content %}

    {% include "includes/page_title.html" with page=page heroclass='has-text-primary is-beige' subtitleclass='has-text-transp-green' %}

    <div class="container my-5">
        <div class="content">
            <div class="columns">
                <div class="column is-three-quarters-tablet is-three-quarters-desktop is-three-quarters-widescreen is-two-thirds-fullhd">
                    {% for block in page.body %}
                        {{ block }}
                    {% endfor %}    
                </div>
            </div>
        </div>
    </div>
{% endblock %}