@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500;600&display=swap');

// Fonts
$family-sans-serif: "Oswald", sans-serif;
// family-secondary defaults to family-sans-serif in Bulma
$family-secondary: "Bitter", serif;

// Brand colors
// Main palette
$dark-green: #046A37; // Main brand colour
$dark-green-transparent: rgba(4, 106, 55, 0.75);  // main with opacity 0.75
$green: #5C8D3E; // Support colour #1
$light-blue: #B9E2E7; // Support colour #2
$dark-blue: #317796; // Button?
$orange: #D96D28; // Button? / Alert?
// Support palette
$light-green: #88BE41; // Main brand colour
$beige: #F7F5EA; // Neutral background
$red: #D9222D; // Alert

$primary: $dark-green;
$link: $primary;
$info: $light-blue;
$success: $green;
$warning: $orange;
$danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;

// Update some of Bulma's component variables
$body-background-color: $beige;
$title-line-height: 1;
$title-family: $family-sans-serif;
$size-1: 5rem;
$size-2: 4rem;
$size-3: 2.5rem;
$size-4: 1.25rem;
$size-5: 1.15rem;
$size-6: 1rem;
$title-weight: 500;

$footer-background-color: $dark-green;
$footer-color: white;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

@import "./node_modules/bulma/bulma.sass";

.is-info {
    color: $primary !important;
}
// Bulma override

.has-background-primary-light {
    background-color: $light-green !important;
}

ul, ol, p, figcaption, a {
    font-family: $family-secondary;
    font-weight: $weight-light;
}

.footer hr {
    height: 1px;
    margin-bottom: 1rem;
}

// Titles

.subtitle, .title {
    word-break: keep-all;
}

// Homepage Card Headings etc

// h3.title {
//     color: $dark-green;
// }

.card-image figure.image img {
    border: 8px solid white;
}

.card-content h4 {
    color: $dark-green;
    font-family: $family-secondary;
    font-size: $size-4;
    font-weight: $weight-semibold;
}

.card-content h2 {
    color: white;
    font-size: $size-2;
}

.card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.card-equal-height .card-footer {
  margin-top: auto;
}

.card-footer {
    border: none;

    a {
        font-family: $family-primary;
    }
}

.card .has-background-success {
    color: $white;

    .title {
        color: $white;
    }
}
// Homepage Vision, Mission headings, body, background

.section_green {
    // background-color: $green;
    padding: 3rem 0;
}

.section_green {

    h1, h2, h3, h4, h5, h6 {
        color: $light-green;
        font-weight: $title-weight;
        text-transform: uppercase;
    }
    // h3 {
    //     margin-bottom: .75rem;
    // }
    // font-size: $size-3;
    
}

.section_green {
    blockquote, p, li {
        font-family: $family-secondary;
        font-weight: $weight-light;
        font-size: $size-4;
        color: white;
        margin: 0 15%;
        font-style: italic;
    }

    li {
        list-style: inside;
    }
}

.content blockquote {
    background-color: transparent;
    border-left: 0;
    padding: 0;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: $title-weight;
}

// Hero stuff
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-head .navbar::before {
    content: "";
    background-color: $primary;
    opacity: 0.75;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

// Navbar(header) including logo
.navbar {
    max-height: 3.5rem;
    a {
        font-family: $family-primary;
    }
}

.navbar .navbar-item img {
    max-height: 6rem;
    overflow: visible;
}

.navbar-menu {
    background-color: transparent;
}

.navbar-item, .navbar-link {
    color: $white;
}

.navbar-menu.is-active {
    background-color: $dark-green-transparent;
}

.navbar.is-primary .navbar-brand a.navbar-item:hover, .navbar.is-primary .navbar-brand a.navbar-item:focus {
        background-color: transparent;
}


.navbar-brand.has-background {
    background-color: $dark-green-transparent;
}

// Footer

.has-text-secondary {
    color: $light-green;
}

a.has-text-secondary:hover, a.has-text-secondary:focus {
    text-decoration: none;
    color: $light-blue !important;
}

.footer hr {
    background-color: $light-green !important;
}

.footer {
    font-family: $family-secondary;
}

.footer h1, h2, h3, h4, h5, h6 {
    font-family: $family-primary;
}
.footer .navbar-menu{
    color: $footer-color;
}
.footer .navbar-menu .navbar-item img { 
    max-height: inherit;
}

.has-underline{
    text-decoration: underline;
}

// Home page rounded cards for the counters

.rounded-card {
    border-radius: 50%;
    width: 256px;
    height: 256px;
    background-size: cover;

    .card-content {
        position: relative;
        top: 28%;
    }
}

// Homepage Polygon lines - HACKY AF needs to be cleaned up 
// and review for responsiveness

section.clip {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
section.clip2 {
    // clip-path: polygon(3px 35px, 99.74% 57px, 100% 90%, 3px 84.84%);
    // padding-top: 0; 
    // margin-top: -5%;
    background: linear-gradient(3deg, $beige 65%, $info calc(65% + 1px));
}
section.clip3 {
    // clip-path: polygon(61.61% 4.95%, 100% 0px, 100% 100%, 0px 100%, 0px 0px);;
    // padding-top: 0; 
    // margin-top: -12.5%;
    // background:
        // linear-gradient(175deg, $beige 15%, transparent 15.1%),
        // linear-gradient(3deg, transparent 83% , transparent 83.5%, $success 83.6%),
        
        // linear-gradient(1deg, transparent 97.2%, $beige 97.3%),
        // linear-gradient(3deg, transparent 83.5%, $beige 83.6%),
        // linear-gradient(2deg, $beige 2.1%, $beige 2.2%, transparent 0) 100px
        //;
}
section.clip4{
    // background: linear-gradient(183.5deg, $white 0%, $white 10.4%, $white 10.5%, transparent 0);
    
    // background-color: $beige;
    // clip-path: polygon(36.28% 11.37%, 99.92% 5px, 100% 100%, 0px 100%, 0px 0px);
} 

// Hero class-based linear gradients

.success-info-gradient {
    background: linear-gradient(-0.5deg, $info 20%, $success calc(20% + 1px));
}

.light-green-info-gradient {
    background: linear-gradient(-1deg, $light-green 20%, $success calc(20% + 1px));
}
.light-green-info-gradient-mobile {
    background: linear-gradient(-3deg, $light-green 20%, $success calc(20% + 1px));
}

// Tags

a.tag {
    font-family: $family-primary;
    text-transform: uppercase;

}

@import "./wagtail.scss";