@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

// Fonts
$family-sans-serif: "Oswald", sans-serif;
// family-secondary defaults to family-sans-serif in Bulma
$family-primary: "Bitter", serif;
// Brand colors
// Main palette
$dark-green: #046A37; // Main brand colour
$dark-green-transparent: rgba(4, 106, 55, 0.75);  // main with opacity 0.75
$green: #5C8D3E; // Support colour #1
$green-transparent: rgba(92, 141, 62, 0.50); // Support with opacity 0.5
$light-blue: #B9E2E7; // Support colour #2
$dark-blue: #317796; // Button?
$orange: #D96D28; // Button? / Alert?
$blue: #447593;
// Support palette
$light-green: #88BE41; // Main brand colour
$pale-green: #aabc92;
$beige: #F2EEE0; // Neutral background
$red: #D9222D; // Alert
$primary: $dark-green;
$link: $primary;
$info: $light-blue;
$success: $green;
$warning: $orange;
$danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;

// Update some of Bulma's component variables
// $body-background-color: $white;
$custom-colors: ("beige": $beige, "pale-green": $pale-green, "blue": $blue, "light-green": $light-green, "light-blue": $light-blue, "transp-green": $green-transparent);
$title-line-height: 1;
$title-family: $family-sans-serif;
$size-1: 5rem;
$size-2: 4rem;
$size-3: 2.5rem;
$size-4: 1.25rem;
$size-5: 1.15rem;
$size-6: 1rem;
$title-weight: 500;

$footer-background-color: $dark-green;
$footer-color: white;

$button-border-width:0;

$text: hsl(0, 0%, 4%);

// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

@import "./node_modules/bulma/bulma.sass";

.is-info {
    color: $primary !important;
}

// Bulma override

ul, ol, p, figcaption, a {
    // font-family: $family-secondary;
    font-weight: $weight-normal;
}

figcaption {
    font-size: .85rem;
}

.footer hr {
    height: 1px;
    margin-bottom: 1rem;
}

// Titles

.subtitle, .title {
    word-break: keep-all;
}

.card-image figure.image img {
    border: 8px solid white;
}

.card-content h4 {
    color: $dark-green;
    font-family: $family-primary;
    font-size: $size-4;
    font-weight: $weight-semibold;
}

.card-content h2 {
    color: white;
    font-size: $size-2;
}

.card-content {
    .media:not(:first-child) {
        border-top: 0;
        border-bottom: 1px solid $beige; 
    }

}

.card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.card-equal-height .card-footer {
  margin-top: auto;
}

.card-footer {
    border: none;

    a {
        font-family: $family-secondary;
    }
}

.card .has-background-success {
    color: $white;

    .title {
        color: $white;
    }
}

.content blockquote {
    background-color: transparent;
    border-left: 0;
    padding: 0;
}

.content blockquote p {
    font-family: $family-primary;
    font-style: italic;
    font-size: $size-3;
    line-height: $size-3;
    color: $primary;
    margin-top: 2rem !important;
    margin-bottom: .5rem !important;
}

.content blockquote footer p{
    color: $green-transparent !important;
    font-style: normal !important;
    margin-top: 0rem !important;
    margin-bottom: 2rem !important;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: $title-weight;
    text-transform: uppercase;
    color: $primary;
}

.pagination {
    text-transform: uppercase;
}

// Hero stuff
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .title {
        color: inherit !important;
    }

}

.hero-head .navbar::before {
    content: "";
    background-color: $primary;
    opacity: 0.75;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}



// Navbar(header) including logo
.navbar {
    max-height: 3.5rem;
    a {
        font-family: $family-secondary;
    }
}

.navbar .navbar-item img {
    max-height: 6rem;
    overflow: visible;
}

.navbar-menu {
    background-color: transparent;
}

.navbar-item, .navbar-link {
    color: $white;
}

.navbar-menu.is-active {
    background-color: $dark-green-transparent;
}

.navbar.is-primary .navbar-brand a.navbar-item:hover, .navbar.is-primary .navbar-brand a.navbar-item:focus {
        background-color: transparent;
}


.navbar-brand.has-background {
    background-color: $dark-green-transparent;
}

// Footer

footer{

    .level-item {
        a {
            color: $white;
        }

        a.is-active, a:focus, a:focus-within, a:hover, a.is-active, a:focus, a:focus-within, a:hover {
            background-color: transparent;
            color: $light-blue;
        }
    }

    a.is-light-green:hover, a.is-light-green:focus {
        text-decoration: none;
        color: $light-blue !important;
    }

    .footer .navbar-menu .navbar-item img { 
        max-height: inherit;
    }

    .navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
        background-color: transparent;
        color: $light-blue;
    }

    .has-underline{
        text-decoration: underline;
    }
}
// Hero class-based linear gradients

.success-beige-gradient {
    background: linear-gradient(-0.5deg, $beige 20%, $success calc(20% + 1px));
}

.success-info-gradient {
    background: linear-gradient(-0.5deg, $info 20%, $success calc(20% + 1px));
}

.light-green-info-gradient {
    background: linear-gradient(-1deg, $light-green 20%, $success calc(20% + 1px));
}

.light-green-info-gradient-mobile {
    background: linear-gradient(-3deg, $light-green 20%, $success calc(20% + 1px));
}

.white-beige-gradient {
    background: linear-gradient(-2deg, $beige 80%, $white calc(80% + 1px));
}

div.events-between {
    height: 100px;
    margin-top: -100px;
    background: linear-gradient(to bottom left, $beige calc(50%), $white calc(50% + 1px));
}

div.groups-between {
    height: 100px;
    margin-top: -50px;
    background: linear-gradient(to top left, $beige calc(50%), $white calc(50% + 1px));
}

div.group-social {
    div.icon-text {
        border-top: 1px solid $beige;
    }
    .icon-text:is(:last-child) {
        border-bottom: 1px solid $beige;
    }
}

// Tags

a.tag {
    font-family: $family-secondary;
    text-transform: uppercase;
}

.is-256x256 {
    width: 256px;
    height: 256px;
}

// Content headings

div.content.event{
    h2, h3, h4, h5, h6 {
        color: $success;
    }
} 

div.content.group{
    h2, h3, h4, h5, h6 {
        color: $blue;
    }
} 

@import "./components/home.scss";
@import "./wagtail.scss";