{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}


{% block pre-content %}
    {% include "includes/page_title.html" with page=page heroclass='has-text-white' subtitleclass='has-text-primary' showimage=True %}
{% endblock pre-content %}

{% block content %}
    
    {% include "includes/breadcrumb.html" with page=page %}

    <div class="container">
        <div class="content ">
            <div class="columns">
                <div class="column  is-three-quarters-tablet is-three-quarters-desktop is-three-quarters-widescreen is-two-thirds-fullhd">
            {% for block in page.body %}
                {{ block }}
            {% endfor %}
        </div>
    </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="tags are-large ">
                {% for tag in page.get_tags %}
                    {% if forloop.counter == 1 %}
                        <span class="mr-2 mb-2 mr-2 has-text-weight-semibold">Tags:</span>
                    {% endif %}
                    <a class="tag py-5 px-5 is-info is-rounded" href="{{ tag.url }}">{{ tag.name|title }}</a>
                {% endfor %}
                {% for suburb in page.get_suburbs  %}
                    {% if forloop.counter == 1 %}
                        <span class="ml-2 mb-2 mr-2 has-text-weight-semibold">Suburbs:</span>
                    {% endif %}
                    <a class="tag py-5 px-5 is-info is-rounded" href="{{ suburb.url }}">{{ suburb.name|title }}</a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="columns is-multiline my-5 ">
                {% for event in page.get_events|slice:3 %}
                    <div class="column is-one-third">
                        {% include "includes/card.html" with page=event class="event" buttonclass='has-text-primary has-background-white' footerclass="has-background-success" buttontext="See details" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}