{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content %}

    {% include "includes/page_title.html" with page=page showimage=True linecolor="B9E2E7" gradientcolor="5c8d3e" heroclass='is-success' subtitleclass='has-text-primary' %}

    <section class="section">
        <div class="container">
            <div class="tags are-large">
                {% for tag in page.get_child_tags  %}
                      <a class="tag py-5 px-5 has-background-blue has-text-white is-rounded" href="{{ tag.url }}">{{ tag.name|title }}</a>
                {% endfor %}
                {% for suburb in page.get_child_suburbs  %}
                    <a class="tag py-5 px-5 has-background-blue has-text-white is-rounded" href="{% routablepageurl page "suburb_archive" suburb.slug %}">{{ suburb.name|title }}</a>    
                {% endfor %}
            </div>
            {% if tag %}
                <div>
                    <p class="is-flex is-align-items-center title is-3 has-text-dark">{{ "Showing groupd tagged with:"|upper }}&nbsp;<span class="has-text-info">{{ tag|upper }}</span><a class="ml-3 is-size-4 tag has-background-info has-text-white is-rounded" href="{% pageurl page %}">{{ 'Clear filter'|upper }}</a></p>
                </div>
            {% endif %}
            {% if suburb %}
                <div>
                    <p class="is-flex is-align-items-center title is-3 has-text-dark">{{ "Showing groups tagged with:"|upper }}&nbsp;<span class="has-text-info">{{ suburb|upper }}</span><a class="ml-3 is-size-4 tag has-background-info has-text-white is-rounded" href="{% pageurl page %}">{{ 'Clear filter'|upper }}</a></p>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="section pt-0 white-beige-gradient">
        <div class="container">
            <div class="columns is-multiline">
                {% for group in groups %}
                    <div class="column is-one-third">
                        {% include "includes/card.html" with page=group class="group" buttonclass="is-blue" buttontext="Go to landing page" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="events-between"></div>
    
    {% if groups.paginator.count > 1 %}
        <section class="mb-6">
            <div class="container">
                {% include "includes/pagination.html" with subpages=groups %}
            </div>
        </section>
    {% endif %}

{% endblock %}