{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

        {% include "includes/hero.html" with page=page %}

        <section class="section">
            <div class="container">
                <div class="columns is-multiline">
                {% for card in page.featured %}
                    <div class="column is-one-quarter">
                    {% include_block card %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
            {% for quote in page.quotations %}
                <div class="content">
                {% include_block quote %}
                </div>
            {% endfor %}
            </div>
        </section>

         <section class="section">
            <div class="container">
                <nav class="level">
                    {% for counter in page.counter_placements.all %}
                        <div class="level-item has-text-centered">
                        {% include "includes/counter.html" with counter=counter.counter %}
                        </div>
                        
                        {% if forloop.counter|divisibleby:3 %}
                            </nav>
                            <nav class="level">
                        {% endif %}
                    {% endfor %}
                </nav> 
            </div>  
         </section>
{% endblock content %}
