{% load wagtailcore_tags %}

<div class="container">
    <nav class="breadcrumbs is-family-secondary is-size-4" aria-label="breadcrumbs">
      <ul>
        <li>
            <a class="link {{ color }}" href="{% if page.breadcrumb %}{% pageurl page.breadcrumb %}{% else %}{% pageurl page.get_parent %}{% endif %}"><span class="icon">
                <i class="fas fa-1x fa-arrow-left" aria-hidden="true"></i>
            </span>BACK TO {% if page.breadcrumb %}{{ page.breadcrumb|upper }}{% else%}{{ page.get_parent.title|upper }}{% endif %}</a>
        </li>
      </ul>
    </nav>
</div>