{% load wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}

<div class="card card-equal-height">
  <div class="card-image">
    <figure class="image is-4by3">
      {% if page.image %}
        {% image page.image fill-512x512 %}
      {% else %}
      <img src="https://bulma.io/images/placeholders/empty.png" alt="Placeholder image"/>
      {% endif %}
    </figure>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title has-text-primary">{{ page.title|upper }}</p>
        <p class="title is-6 is-family-secondary">
              {% if page.author %}
                  {{ page.author.first_name }} {{ page.author.last_name }}
              {% endif %}
              {% if page.date_published %}
                  <br>{{ page.date_published|date:"d M Y" }}
              {% endif %}
        </p>
        <p>{{ page.introduction }}</p>
      </div>
    </div>
    
      {% if class == 'group' %}
        <div class="content">
          {% if page.external_url %}
            <span class="icon-text mb-3">
              <span class="icon">
                <i class="fas fa-link"></i>
              </span>
              <span><a class="link" href="{{ page.external_url}}" target="_blank">{{ 'GO TO Website'|upper }}</a></span>
            </span>
          {% endif %}
          <div class="tags">
            {% for tag in page.get_tags  %}
                  <a class="tag is-small is-link is-rounded" href="{{ tag.url }}">{{ tag.name|title }}</a>
            {% endfor %}
            {% for suburb in page.get_suburbs  %}
                <a class="tag is-small is-rounded" href="{{ suburb.url }}">{{ suburb.name|title }}</a>
            {% endfor %}
          </div>
      </div>
       
      {% endif %}
    
  </div>

  {% if class == 'event' %}
    <div class="px-5 pt-5 has-background-success">
        {% if page.location %}
          <h6 class="is-6 title mb-1">{{ 'Location:'|upper }}</h6>
          <p class="has-text-weight-normal">{{ page.location }}</p>
        {% endif %}
        {% if page.date_scheduled %}
          <h6 class="is-6 title my-2">{{ 'Date:'|upper }}</h6>
          <p class="has-text-weight-normal">{{ page.date_scheduled|date:"d M Y" }}</p>
        {% endif %}
        {% if page.starting_time %}
          <h6 class="is-6 title my-2">{{ 'Time:'|upper }}</h6>
          <p class="has-text-weight-normal">{{ page.starting_time }}{% if page.ending_time %} - {{ page.ending_time }}{% endif %}</p>
        {% endif %}
      </div>
  {% endif %}

  <footer class="card-footer px-5 py-5 {% if footerclass %}{{ footerclass }}{% endif %}">
      <a href="{% pageurl page %}" class="button {% if buttonclass %}{{ buttonclass }}{% else %}is-link{% endif %} is-rounded is-fullwidth is-medium">{{ buttontext|upper }} ></a>
  </footer>

</div>  