{% load wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}

<div class="card card-equal-height">
  <div class="card-image">
    <figure class="image is-4by3">
      {% if page.image %}
        {% image page.image fill-512x512 %}
      {% else %}
      <img src="https://bulma.io/images/placeholders/empty.png" alt="Placeholder image"/>
      {% endif %}
    </figure>
  </div>

  <div class="card-content py-2 px-3">
    <div class="media">
      <div class="media-content">
        <p class="title has-text-primary">{{ page.title|upper }}</p>
          {% if page.author %}
              <p class="has-text-weight-semibold has-text-primary">{{ page.author.first_name }} {{ page.author.last_name }}</p>
          {% endif %}
          {% if page.date_published %}
              <p class="has-text-weight-normal has-text-primary">{{ page.date_published|date:"d M Y" }}</p>
          {% endif %}
        <p class="mt-3">{{ page.introduction }}</p>
      </div>

    </div>
    
      {% if class == 'group' %}
        <div class="content">
          {% if page.external_url %}
            <span class="icon-text mb-3 has-text-primary">
              <span class="icon">
                <i class="fas fa-link"></i>
              </span>
              <span><a class="link is-family-sans-serif" href="{{ page.external_url}}" target="_blank">{{ 'GO TO Website'|upper }}</a></span>
            </span>
          {% endif %}
          <div class="tags">
            {% for tag in page.get_tags  %}
                  <a class="tag is-small is-link is-rounded" href="{{ tag.url }}">{{ tag.name|title }}</a>
            {% endfor %}
            {% for suburb in page.get_suburbs  %}
                <a class="tag is-small is-link is-rounded" href="{{ suburb.url }}">{{ suburb.name|title }}</a>
            {% endfor %}
          </div>
      </div>
       
      {% endif %}
    

  {% if class == 'event' %}
    {% include "includes/card_article.html" with icon="users" title="Group" content=page.get_parent.title %}
    {% include "includes/card_article.html" with icon="map-marked-alt" title="Location" content=page.location %}
    {% include "includes/card_article.html" with icon="calendar-alt" title="Date" content=page.date_scheduled %}
    {% include "includes/card_article.html" with icon="clock" title="Time" content=page.time %}
  {% endif %}

  </div>

  <footer class="card-footer px-5 py-5 {% if footerclass %}{{ footerclass }}{% endif %}">
      <a href="{% pageurl page %}" class="button {% if buttonclass %}{{ buttonclass }}{% else %}is-link{% endif %} is-rounded is-fullwidth is-medium">{{ buttontext|upper }} ></a>
  </footer>

</div>  