{% load static %}

<footer class="footer">
    <div class="container">
        <nav class="level">
          <div class="level-item has-text-left-desktop has-text-centered-touch">
            <a class="link">
                <div class="title has-text-white is-6 mb-1">{{ "Kāinga"|upper }}</div>
                <div class="title has-text-white is-4">{{ "Home"|upper }}</div>
            </a>

          </div>
          
          <div class="level-item has-text-left-desktop has-text-centered-touch">
            <a class="link">
                <div class="title has-text-white is-6 mb-1">{{ "Whakauru"|upper }}</div>
                <div class="title has-text-white is-4">{{ "Participate"|upper }}</div>
            </a>
          </div>
          <div class="level-item has-text-left-desktop has-text-centered-touch">
            <a class="link">
                <div class="title has-text-white is-6 mb-1">{{ "Rōpū"|upper }}</div>
                <div class="title has-text-white is-4">{{ "Groups"|upper }}</div>
            </a>
          </div>
          <div class="level-item has-text-left-desktop has-text-centered-touch">
            <a class="link">
                <div class="title has-text-white is-6 mb-1">{{ "Korero"|upper }}</div>
                <div class="title has-text-white is-4">{{ "News"|upper }}</div>
            </a>
          </div>
          <div class="level-item has-text-left-desktop has-text-centered-touch">
            <a class="link">
                <div class="title has-text-white is-6 mb-1">{{ "Mo Tatou"|upper }}</div>
                <div class="title has-text-white is-4">{{ "About Us"|upper }}</div>
            </a>
          </div>
          <div class="level-item has-text-left-desktop has-text-centered-touch">
            <a class="link">
                <div class="title has-text-white is-6 mb-1">{{ "Hono"|upper }}</div>
                <div class="title has-text-white is-4">{{ "Connect"|upper }}</div>
            </a>
          </div>
        </nav>

        <div class="is-shadowless navbar-menu is-active">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="{% static 'images/PFWRA_Logo_REV@2x.png' %}" width="289" height="80">
            </a>
          </div>
          <div class="is-hidden-desktop navbar-start is-align-items-end">
            <a href="https://facebook.com" target="_blank" class="icon is-large"><i class="has-text-white fab fa-2x fa-brands fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank" class="icon is-large"><i class="has-text-white fab fa-2x fa-brands fa-instagram-square" aria-hidden="true"></i></a>
            <a href="https://twitter.com" target="_blank" class="icon is-large"><i class="has-text-white fab fa-2x fa-brands fa-twitter-square" aria-hidden="true"></i></a>
          </div>

          <div class="is-hidden-touch navbar-end is-align-items-end">
            <a href="https://facebook.com" target="_blank" class="navbar-item icon is-large"><i class="has-text-white fab fa-2x fa-brands fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank" class="navbar-item icon is-large"><i class="has-text-white fab fa-2x fa-brands fa-instagram-square" aria-hidden="true"></i></a>
            <a href="https://twitter.com" target="_blank" class="navbar-item icon is-large"><i class="has-text-white fab fa-2x fa-brands fa-twitter-square" aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="content has-text-right">
            <hr>
            <p class="is-family-primary has-text-secondary">© {% now "Y" %} Pest Free Waitākere Ranges Alliance <a class="has-text-secondary has-underline" href="/">Privacy Policy</a></p>
        </div>
  </div>
</footer>