<footer class="footer">
    <div class="container">

        <nav class="level">
          <div class="level-item has-text-left">
            <div>
                <h6 class="title is-6">{{ 'About Us'|upper }}</h6>
                <a class="link is-info">Who we are</a>
            </div>
          </div>
          <div class="level-item has-text-left">
            <div>
                <h6 class="title is-6">{{ 'What"s Happening'|upper }}</h6>
                <a class="link is-info">Calendar</a>
            </div>
          </div>
          <div class="level-item has-text-left">
            <div>
                <h6 class="title is-6">{{ 'Participate'|upper }}</h6>
                <a class="link is-info">Volunteer</a>
            </div>
          </div>
          <div class="level-item has-text-left">
            <div>
                <h6 class="title is-6">{{ 'Connect'|upper }}</h6>
                <a class="link is-info">Connect</a>
            </div>
          </div>
        </nav>

        <div class="content has-text-right">
            <p>© {% now "Y" %} Pest Free Waitākere Ranges Alliance <a href="/">Privacy Policy</a></p>
        </div>
  </div>
</footer>