{% load static %}

<footer class="footer">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-8">
          <nav class="level">
            {% for item in menu_items %}
              
              <div class="is-justify-content-left level-item has-text-left">
                <a class="is-family-secondary" href="{{ item.href }}">
                    <div class="has-text-light-green is-size-6 mb-1">{{ item.handle|upper }}</div>
                    <div class="is-size-4">{{ item.text|upper }}</div>
                </a>
              </div>
            
            {% endfor %}

          </nav>
         </div> 
       </div>

        <div class="is-shadowless navbar-menu is-active">
          <div class="navbar-brand">
            <a class="px-0 py-0" href="/">
              <img src="{% static 'images/PFWRA_Logo_REV@2x.png' %}" width="217" height="60">
            </a>
          </div>
          <div class="navbar-start is-align-items-center">
            <a class="px-0 py-0 ml-5" href="/">
              <img src="{% static 'images/eco-matters-logo.svg' %}" width="145" height="40">
            </a>
            <a class="px-0 py-0 ml-5" href="/">
              <img src="{% static 'images/auckland-council-logo.svg' %}" width="165" height="120">
            </a>
            <a class="px-0 py-0 ml-5" href="/">
              <img src="{% static 'images/WaitakereRangesLB.png' %}" width="226" height="74">
            </a>
          </div>
          <div class="is-hidden-desktop navbar-start is-align-items-end is-flex is-justify-content-flex-start">
            <a href="https://facebook.com" target="_blank" class="navbar-item icon is-large"><i class="fab fa-2x fa-brands fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank" class="navbar-item icon is-large"><i class="fab fa-2x fa-brands fa-instagram-square" aria-hidden="true"></i></a>
            <a href="https://twitter.com" target="_blank" class="navbar-item icon is-large"><i class="fab fa-2x fa-brands fa-twitter-square" aria-hidden="true"></i></a>
          </div>
          <div class="is-hidden-touch navbar-end is-align-items-end">
            <a href="https://facebook.com" target="_blank" class="navbar-item icon is-large"><i class="fab fa-2x fa-brands fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank" class="navbar-item icon is-large"><i class="fab fa-2x fa-brands fa-instagram-square" aria-hidden="true"></i></a>
            <a href="https://twitter.com" target="_blank" class="navbar-item icon is-large"><i class="fab fa-2x fa-brands fa-twitter-square" aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="content has-text-right">
            <hr class="has-background-light-green">
            <p class="is-family-primary has-text-light-green">© {% now "Y" %} Pest Free Waitākere Ranges Alliance <a class="is-light-green has-underline has-text-light-green" href="/">Privacy Policy</a></p>
        </div>
  </div>
</footer>