{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item pb-0 pt-5" href="/">
        <img src="{% static 'images/logo_v2.png' %}" width="248" height="93">
      </a>

      <a id="navbar-burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <a class="navbar-item">
          {{ 'Kāinga' |upper }}<br>
            {{ 'Home' |upper }}
          </a>

        <a class="navbar-item">
          {{ 'Whakauru'|upper }}<br>
            {{ 'Participate'|upper }}
        </a>

        <a class="navbar-item">
          {{ 'Rōpū'|upper }}<br>
            {{ 'Groups'|upper }}
        </a>

        <a class="navbar-item">
            {{ 'Korero'|upper }}<br>
          {{ 'News'|upper }}
        </a>

        <a class="navbar-item">
          {{ 'Mo Tatou'|upper }}<br>
          {{ 'About Us'|upper }}
        </a>

        <a class="navbar-item">
          {{ 'Hono'|upper }}<br>
          {{ 'Connect'|upper }}
        </a>

        <div class="navbar-item">
          <p class="control has-icons-right">
            <input class="input is-primary is-rounded" type="search" placeholder="Search">
            <span class="icon is-right">
              <i class="fa fa-search"></i>
            </span>
          </p>
        </div>

        <div class="navbar-item">
          <div class="buttons">
            <!-- <a class="button is-primary">
              <strong>Sign up</strong>
            </a> -->
            <a class="button is-primary">
              {{ 'Log in'|upper }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>