{% load static menu_tags %}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <!-- same navbar-item elem butdifferent classes on mobile -->
      <a class="navbar-item is-hidden-touch pb-0 pt-5" href="/">
        <img src="{% static 'images/logo_v2.png' %}" width="248" height="93">
      </a>
      <a class="navbar-item is-hidden-desktop pb-0 pt-0" href="/">
        <img src="{% static 'images/logo_v2.png' %}" width="248" height="93">
      </a>

      <a id="navbar-burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">

        {% for item in menu_items %}
          <a class="navbar-item has-text-left is-block mx-2" href="{{ item.href }}" >
            <div class="is-size-7 is-light-green">{{ item.handle |upper }}</div>
            <div>{{ item.text |upper }}</div>
          </a>
        {% endfor %}

        <div class="navbar-item">
          <form id="search-form" class="control has-icons-right" action="/search" method="get" role="search">
              <input name="q" class="input is-primary is-rounded" type="search" placeholder="Search">
              <span id="search-icon" class="icon is-right" style="pointer-events: initial;cursor:pointer;">
                <i class="fa fa-search"></i>
              </span>
          </form>
        </div>

        <div class="navbar-item">
          <div class="buttons">
            <!-- <a class="button is-primary">
              <strong>Sign up</strong>
            </a> -->
            <a class="button is-primary">
              {{ 'Log in'|upper }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>