{% load wagtailimages_tags %}

{% image page.image fill-1920x600 as image %}

<section class="hero is-medium" style="background-image: url('{{ image.url }}');">

    {% if header == True %}
        <div class="hero-head">
            {% include "includes/header.html" with header=True%}
        </div>
    {% endif %} 
    
  <div class="hero-body">
    {% if page.hero_text %}
    <div class="container has-text-left">
        <div class="columns">
            <div class="column is-half is-half-widescreen is-half-fullhd">
                <h1 class="title is-1 has-text-white">{{ page.hero_text|upper }}</h1>
            </div>
        </div>
    </div>
    {% endif %}
  </div>
</section>