{% load wagtailimages_tags menu_tags %}

{% image page.image fill-1920x600 as image %}

<div class="has-background-info">
    <section class="hero is-medium clip has-text-light" style="background-image: linear-gradient(5deg, rgba(4, 106, 55, 0.3) 35%, transparent calc(35% + 1px)), url('{{ image.url }}');">

        {% if header == True %}
            {# top menu to be displayed within the hero element (just the home page) #}
            <div class="hero-head">
                {% main_menu template="includes/header.html" %}
            </div>
        {% endif %} 
        
      <div class="hero-body">
        {% if page.hero_text %}
        <div class="container has-text-left">
            <div class="columns">
                <div class="column is-half is-half-widescreen is-half-fullhd">
                    <h1 class="title is-1 is-size-2-touch has-text-white">{{ page.hero_text|upper }}</h1>
                </div>
            </div>
        </div>
        {% endif %}
      </div>
    </section>
</div>