{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content %}

    {% include "includes/page_title.html" with page=page breadcrumb=True breadcrumbclass='is-success' heroclass='is-beige has-text-success' linecolor="fff" subtitleclass='has-text-primary' %}

  <section class="section py-0">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-one-quarter">
            <article class="notification media has-background-white">
              <figure class="media-left">
                <span class="icon">
                  <i class="fas fa-map-marked-alt fa-2x has-text-primary" aria-hidden="true"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4 has-text-primary">Where</h1>
                  <p class="is-size-5 subtitle">
                    {{ page.location }}
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-quarter">
            <article class="notification has-background-white media">
              <figure class="media-left">
                <span class="icon">
                  <i class="fas fa-2x fa-calendar-alt has-text-primary" aria-hidden="true"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4 has-text-primary">Date</h1>
                  <p class="is-size-5 subtitle">
                     {{ page.date_scheduled|date:"d M Y" }}
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-quarter">
            <article class="notification has-background-white media">
              <figure class="media-left">
                <span class="icon">
                  <i class="fas fa-2x fa-clock has-text-primary" aria-hidden="true"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4 has-text-primary">Time</h1>
                  <p class="is-size-5 subtitle">
                    {{ page.starting_time }}{% if page.ending_time %} - {{ page.ending_time }}{% endif %}
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
  </section>

  <section class="section pt-0 white-beige-gradient">
      <div class="container">
          <div class="content event">
              <div class="columns">
                  <div class="column  is-three-quarters-tablet is-three-quarters-desktop is-three-quarters-widescreen is-two-thirds-fullhd">
                    {% for block in page.body %}
                        {{ block }}
                    {% endfor %}
                   </div>
              </div>
          </div>
      </div>
  </section>

  <div class="events-between my-0"></div>

  <section class="section my-0 py-0">
    <div class="container">
      <p class=" has-text-weight-semibold">Group: <a class="ml-2 py-5 px-5 tag is-large is-rounded has-background-blue has-text-white">{{ page.get_parent.title|upper }}</a></p>
    </div>
  </section>

  <section class="section mt-0 pt-5">
      <div class="container">
          <div class="tags are-large">
              {% for tag in page.get_tags %}
                  {% if forloop.counter == 1 %}
                      <span class="mr-2 mb-2 has-text-weight-semibold">Tags:</span>
                  {% endif %}
                  <a class="tag py-5 px-5 is-link is-rounded" href="{{ tag.url }}">{{ tag.name|title }}</a>
              {% endfor %}
              {% for suburb in page.get_suburbs  %}
                  {% if forloop.counter == 1 %}
                      <span class="mx-2 mb-2 has-text-weight-semibold">Suburbs:</span>
                  {% endif %}
                  <a class="tag py-5 px-5 is-link is-rounded" href="{{ suburb.url }}">{{ suburb.name|title }}</a>
              {% endfor %}
          </div>
      </div>
  </section>
{% endblock %}