{% extends "base.html" %}
{% load static wagtailcore_tags wagtailroutablepage_tags widget_tweaks %}

{% block content %}

    {% include "includes/page_title.html" with page=page heroclass='has-text-primary is-beige' subtitleclass='has-text-transp-green' %}

    <div class="container my-5">
        <div class="content">
            <div class="columns is-multiline">
                <div class="column is-8 is-offset-4">

                    {% for block in page.body %}
                        {{ block }}
                    {% endfor %}
                </div>

                <div class="column is-8">
                    <form class="block" action="{% pageurl page %}" method="POST" role="form">
                        {% csrf_token %}
                        {% if form.subject.errors %}
                            <article class="message is-danger">
                              <div class="message-header">
                                <p>Looks like something's wrong</p>
                              </div>
                              <div class="message-body">
                                <ol>
                                {% for error in form.subject.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                                </ol>
                              </div>
                            </article>
                        {% endif %}

                        <fieldset>
                            <div class="columns is-multiline">
                        {% for field in form %}
                            {% if forloop.counter == 1 or forloop.counter == 2  %}
                                <div class="column is-half">
                            {% else %}
                                <div class="column is-full">
                            {% endif %}
                                <div class="field" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                                    <label class="label">{{ field.label_tag }}{% if field.field.required %}<span class="has-text-danger">*</span>{% endif %}</label>
                                    <div class="control">
                                        {% if field|widget_type == 'textarea'%}
                                            {% render_field field class="textarea" %}
                                        {% else %}
                                            {% render_field field class="input" %}
                                        {% endif %}
                                    </div>
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                            </div>
                            <div class="control">
                              <button class="button is-family-secondary is-medium is-rounded is-success">{{ 'Submit'|upper }}</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                   
                <div class="column is-4 ">
                    <div class="icon-text is-align-items-center py-2">
                      <span class="icon is-medium has-text-primary">
                        <i class="fab fa-lg fa-facebook has-text-primary"></i>
                      </span>
                      <a class="has-text-primary is-family-sans-serif" href="#" target="_blank">{{ 'Follow on Facebook'|upper }}</a>
                    </div>
                    <div class="icon-text is-align-items-center py-2">
                      <span class="icon is-medium has-text-primary">
                        <i class="fab fa-lg fa-instagram has-text-primary"></i>
                      </span>
                      <a class="has-text-primary is-family-sans-serif" href="#" target="_blank">{{ 'Follow on Instagram'|upper }}</a>
                    </div>
                    <div class="icon-text is-align-items-center py-2">
                      <span class="icon is-medium has-text-primary">
                        <i class="fab fa-lg fa-twitter has-text-primary"></i>
                      </span>
                      <a class="has-text-primary is-family-sans-serif" href="#" target="_blank">{{ 'Follow on Twitter'|upper }}</a>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

{% endblock %}