{% load static wagtailcore_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  {% block head %}
    {% include "includes/head.html" %}
  {% endblock head %}

  <body>
    {% block header %}
      {# Header contains the main_navigation block #}
      {% include "includes/header.html" %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
      {# Header contains the main_navigation block #}
      {% include "includes/footer.html" %}
    {% endblock footer %}


    <script src="{% static 'js/project.min.js' %}"></script>
  
  </body>

</html>
 
