{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
    <section class="hero is-small py-5">
      <div class="hero-body">
        <div class="container has-text-left">
            <h1 class="title is-1">{{ 'Search'|upper }}</h1>
            {% if search_query %}
                <p class="subtitle">You have searched for: <i><strong>{{ search_query|escape }}<strong/></i></p>
            {% endif %}
        </div>
      </div>
    </section>

    <section class="section">
        <div class="container">
            {% if search_results %}
                {% for result in search_results %}
                    {% include "search/result.html" with result=result %}
                {% endfor %}
            {% elif search_query %}
                No results found
            {% endif %}
        </div>
    </section>

    <section class="mb-6">
        {% if search_results and search_results.paginator.count > 1 %}
            <div class="container">
                {% include "includes/pagination.html" with subpages=search_results search_query=search_query %}
            </div>
        {% endif %}
    </section>

{% endblock %}
