{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
    <section class="hero is-small py-5 has-text-primary is-beige">
      <div class="hero-body">
        <div class="container has-text-left">
            <h1 class="title is-1">{{ 'Search results'|upper }}</h1>
            {% if search_query %}
            <div class="columns">
                <div class="column is-half-desktop is-full-mobile">
                    <p class="subtitle has-text-weight-semibold has-text-dark">You have searched for: <strong>{{ search_query|escape|upper }}<strong/></p>
                </div>
            </div>
            {% endif %}
        </div>
      </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% if search_results %}
                    {% for result in search_results %}
                        <div class="column is-three-quarters">
                            {% include "search/result.html" with result=result %}
                        </div>
                        <div class="column is-one-quarter"></div>
                    {% endfor %}
                {% elif search_query %}
                    No results found
                {% endif %}
            </div>
        </div>
    </section>
    
    {% if search_results and search_results.paginator.count > 1 %}
        <section class="mb-6">
            <div class="container">
                {% include "includes/pagination.html" with subpages=search_results search_query=search_query %}
            </div>
        </section>
    {% endif %}

{% endblock %}
