{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content %}

    {% include "includes/page_title.html" with page=page showimage=True linecolor="F2EEE0" gradientcolor="F2EEE0" heroclass='has-text-primary' subtitleclass='has-text-pale-green' %}

    <section class="section">
        <div class="container">
            <div class="tags are-large">
                {% for tag in page.get_child_tags  %}
                      <a class="tag py-5 px-5 is-rounded is-primary" href="{{ tag.url }}">{{ tag.name|title }}</a>
                {% endfor %}
                {% for suburb in page.get_child_suburbs  %}
                    <a class="tag py-5 px-5 is-rounded is-primary" href="{% routablepageurl page "suburb_archive" suburb.slug %}">{{ suburb.name|title }}</a>    
                {% endfor %}
            </div>
            {% if tag %}
                <div>
                    <p class="is-flex is-align-items-center title is-3 has-text-dark">{{ "Showing news tagged with:"|upper }}&nbsp;<span class="has-text-light-green">{{ tag|upper }}</span><a class="ml-3 is-size-4 tag is-light-green is-rounded" href="{% pageurl page %}">{{ 'Clear filter'|upper }}</a></p>
                </div>
            {% endif %}
            {% if suburb %}
                <div>
                    <p class="is-flex is-align-items-center title is-3 has-text-dark">{{ "Showing news tagged with:"|upper }}&nbsp;<span class="has-text-light-green">{{ suburb|upper }}</span><a class="ml-3 is-size-4 tag is-light-green is-rounded" href="{% pageurl page %}">{{ 'Clear filter'|upper }}</a></p>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="section pt-0">
        <div class="container">
            <div class="columns is-multiline">
                {% for post in posts %}
                    <div class="column is-one-third">
                        {% include "includes/card.html" with page=post class="news" buttonclass="is-success" buttontext='Read more' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="mb-6">
        {% if posts.paginator.count > 1 %}
            <div class="container">
                {% include "includes/pagination.html" with subpages=posts %}
            </div>
        {% endif %}
    </section>

{% endblock %}