{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content %}

    {% include "includes/page_title.html" with showimage=True page=page heroclass='has-text-white' subtitleclass='has-text-grey-light' %}

    {% include "includes/breadcrumb.html" with page=page %}

    <section class="section">
        <div class="container">
            <p class="title is-5 is-family-primary">
            {% if page.author %}
                By {{ page.author.first_name }} {{ page.author.last_name }}
            {% endif %}
            {% if page.date_published %}
                on {{ page.date_published|date:"d M Y" }}
            {% endif %}
            </p>
        </div>
    </section>

    <div class="container">
        <div class="content ">
            {% for block in page.body %}
                {{ block }}
            {% endfor %}
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="tags are-large">
                {% for tag in page.get_tags  %}
                    {% if forloop.counter == 1 %}
                        <span class="mr-2 mb-2">Tags:</span>
                    {% endif %}
                    <a class="tag py-5 px-5 is-rounded has-text-white has-background-success" href="{{ tag.url }}">{{ tag.name|title }}</a>
                {% endfor %}
                {% for suburb in page.get_child_suburbs  %}
                    {% if forloop.counter == 1 %}
                        <span class="mr-2 mb-2">Suburbs:</span>
                    {% endif %}
                    <a class="tag py-5 px-5 is-rounded has-text-white has-background-success" href="{% routablepageurl page "suburb_archive" suburb.slug %}">{{ suburb.name|title }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}